.ent-header {
  margin-top: 100px;
}

.ent-header h1 {
  display: inline-block;
  color: var(--primary);
  border-bottom: 1px solid var(--secondary);
  font-family: 'Josefin Slab', serif;
}

.ent-header p {
  font-size: 18px;
}

.ent-body {
  margin: 75px auto;
  display: flex;
  justify-content: center;
}

.ent-band {
  margin: 0 20px;
}

.band-img {
  margin-bottom: 15px;
}

.band-name {
  color: var(--primary);
  display: inline-block;
  border-bottom: 1px solid var(--secondary);
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  margin: 20px auto;
}

@media (max-width: 940px) {
  .ent-body {
    display: block;
  }

  .ent-header {
    margin-top: 50px;
  }

  .ent-body {
    margin: 0;
  }

  .ent-header h1 {
    border: none;
    font-size: 30px;
  }

  .ent-band {
    margin-top: 20px;
  }

  .band-img {
    margin: 0;
  }
}
